body {
    background: rgb(243, 253, 253);
}
.hidden {
    display: none;
}
.header {
    text-align: center;
    font-size: 64px;
    padding-left: 15px;
    letter-spacing: 32px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    background: lightpink;
    border: 1px solid red;
}
table,
td {
    text-align: center;
    margin-top: 15px;
    background: rgb(245, 230, 233);
    border: 1px solid rgb(165, 163, 163);

}

.jumbotron {
    display: flex;
    align-items: center;
    justify-content: center;
    word-wrap: break-word;
    margin: 10px;
    border: 1px solid rgb(156, 156, 156);
}

#time,
#score {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    height: 40px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 50px;
    margin: 0 7px 0 7px;
    background: rgb(226, 226, 226);
}
input,
button {
    padding: 7px;
    margin-left: 7px;
}
.container {
    display: flex;
    width: 650px;
}
.form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    justify-content: space-around;
}
.startOfGameDisplay {
    width: 100%;
    height: 450px;
    position: absolute;
    top: 185px;
    left: 0;
    z-index: 2;
    font-size: 44px;
    padding-left: 15px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    background: lightpink;
    border: 1px solid red;
}
#gameOverScore {
    color: blue;
    font-size: 44px;
    letter-spacing: 15px;
}
h1 {
    color: blue;
    font-size: 64px;
    letter-spacing: 15px;
}
.colsCount,
.rowsCount {
    width: 50px;
    height: 50px;
}